/* google fonts */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");

body {
  font-family: "Poppins", sans-serif;
}

/* default selectors */
a {
  text-decoration: none;
}

h1,
h2,
h3,
p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

:root {
  --brand-one: #e05d29;
  --brand-two: #ce1160;
  --brand-three: #b6421b;
  --brand-black: #000;
  --brand-grey: #f4f4f7;
  --brand-light-grey: #f1f1f0;
  --brand-green: #3aa93d;
  --brand-white: #fff;
  --brand-purple: #b6421b;
  --brand-dark-blue: #3e2093;
  --white:#fff;
}

/* left section */
.sv-navbar-logo {
  height: 100px;
}

.sv-navbar-logo img {
  height: 100%;
  width: 60%;
  object-fit: contain;
}

/* right section */
.sv-navbar-right {
  padding: 25px 0;
}

.sv-navbar-box {
  padding: 0 25px;
}

.sv-navbar-icon > * {
  color: var(--brand-three);
}

.sv-navbar-box-desc a {
  color: #000;
}

.sv-navbar-box-desc p {
  font-size: 14px;
  color: #000;
}

/* new section */
/* mini navbar section */

.sv-mini-navbar {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background-color: #fff;
  z-index: 1000;
  padding: 0 75px;
  transition: all 500ms ease-out;
}
a:hover{
  text-decoration: none!important;
}
.sv-mini-navbar-wrapper {
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.2);
  display: flex;
  position: relative;
  border: 1px solid var(--brand-three);
  justify-content: space-between;
  background: linear-gradient(
    90deg
    , #ce1160 0%, #b63f81 100%);
    color:var(--white);
    padding:1rem 0;
}

.mini-nav-hamburger {
  position: absolute;
  top: 18px;
  left: 0;
  margin-left: 15px;
  display: none;
  padding: 5px 10px;
  border: 1px solid rgb(232, 234, 237);
  border-radius: 4px;
  cursor: pointer;
}

.sv-mini-navbar-menu-left {
  display: flex;
}

.sv-mini-navbar-menu-left li,
.sv-mini-navbar-menu-right li {
  padding: 10px 15px;
}

.sv-mini-navbar-menu-left li a {
  color: var(--white);
  text-transform: uppercase;
}

/* right section */

.sv-mini-navbar-menu-right .fas {
  color: var(--white);
  z-index: 2;

}
.shopping{
  position: relative;
}
.shopping span{
  position: absolute;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background:rgb(6, 186, 241);
  top:-11px;
right: -10px;
font-size: .8rem;
text-align: center;
z-index: 1;
color: var(--white);
}
/* global overlay */
.sv-mini-navbar-global-overlay {
  position: fixed;
  height: 100%;
  width: 100%;
  inset: 0;
  background-color: #fff;
  opacity: 0.8;
  z-index: 500;
  overflow: hidden;
  display: none;
}




/* required star color  */
span.req{
  color: #ce1160;
}

/* new section */
/* caresoul section */
.sv-caresoul-wrapper {
  height: calc(100vh - 184px);
  position: relative;
  color: #000;
}

/* caresoul img */
.sv-caresoul-imgbox {
  height: 100%;
}

.sv-caresoul-imgbox img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

/* caresoul gradient */
.sv-caresoul-gradient {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  opacity: 0.3;
  /* background-image: linear-gradient(to right, #ce1160, #e05d29); */
}

/* caresoul text section */
.sv-caresoul-text {
  position: absolute;
  top: 50%;
  left: 10%;
  transform: translate(-10%, -50%);
}

.sv-caresoul-text h2 {
  font-weight: 700;
  font-size: 85px;
  margin-bottom: 5px;
}

.sv-caresoul-btn {
  margin-top: 35px;
}

.sv-caresoul-btn button {
  border: none;
  padding: 15px 60px;
  border-radius: 50px;
  background: var(--brand-three);

}
.sv-caresoul-btn button a{
  color: #fff;

}
/* 
.sv-caresoul-btn button:first-child {
  background: var(--brand-three);
  margin-right: 15px;
}

.sv-caresoul-btn button:last-child {
  background: transparent;
  border: 2px solid  var(--brand-two);
transition: all .5s ease-in-out;
}
.sv-caresoul-btn button:last-child a{
  color: var(--brand-two);
  transition: all .5s ease-in-out;
}


.sv-caresoul-btn button:last-child:hover {
  background:var(--brand-two);
  border: 2px solid  var(--brand-two);
  
}

.sv-caresoul-btn button:last-child:hover a{
  color: var(--white);
} */




/* .sv-caresoul-btn button:first-child {
  background:  var(--brand-one);
  border: 2px solid  var(--brand-one);
transition: all .5s ease-in-out;
}
.sv-caresoul-btn button:first-child a{
  color: var(--white);
  transition: all .5s ease-in-out;
}


.sv-caresoul-btn button:first-child:hover {
  background:transparent;
  /* border: 2px solid  var(--brand-two); */
  
/* }

.sv-caresoul-btn button:first-child:hover a{
  color: var(--brand-one);
/* } */ 
/* new section */
/* top feature section */
.sv-top-feature {
  position: relative;
  top: -15px;
  z-index: 100;
}

.sv-top-feature-box {
  margin: 0 10px;
  background: #fff;
  padding: 20px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  transition: all .3s ease-out;
}
.sv-top-feature-box:hover{
  transform: scale(1.1);
}

/* left section */
.sv-top-feature-box-left {
  height: 40px;
  width: 40px;
}

.sv-top-feature-box-left img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

/* right section */
.sv-top-feature-box-right h3 {
  font-size: 20px;
  color: var(--brand-one);
}

.sv-top-feature-box-right p {
  font-size: 15px;
  color: var(--brand-two);
}

/* new section */
/* what we do section */
 .sv-what-we-do-title{
  margin-top: 3rem!important;
}
.sv-what-we-do-title {
  text-align: center;
  color: #000;
}

.sv-what-we-do-box {
  padding: 0 20px;
}

.sv-what-we-do-img {
  height: 200px;
}

.sv-what-we-do-img img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

.sv-what-we-do-text h3 {
  width: 80%;
  text-align: center;
  margin: 0 auto;
  font-weight: 600;
}

/* new section */
/* start repair */
.sv-start-repair {
  margin-top: 25px;
}

.sv-start-repair-title h2 {
  color:#000;
}

.sv-start-repair-box {
  padding: 0 40px;
}

.sv-start-repair-img {
  height: 300px;
  margin-bottom: .5rem;

}
.sv-start-repair-box a{
  color: #000;
}
.sv-start-repair-img img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

/* new section */
/* why work with us */
.sv-why-work {
  margin-top: 6rem!important;
}
.sv-why-work-title h2 {
  color: #000;
  text-align: center;
}

/* why work desc */
.sv-why-work-box {
  text-align: center;
  padding: 0 10px;
  border-right: 1px solid #000;
}
.sv-why-work-box:last-child {
  border: none;
}

.sv-why-work-box-img {
  height: 300px;
}

.sv-why-work-box-img img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

/* new section */
/* feature product section */
.sv-feature-product {
  margin-top: 6rem!important;
}

.swiper-container {
  width: 90%;
  padding: 0 32px;
}

.swiper-slide {
  display: block;
  color: var(--brand-black);
}

.sv-feature-product-box {
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  padding: 10px 0;
}

.sv-feature-product-img {
  height: 200px;
  overflow: hidden;

}

.sv-feature-product-img img {
  height: 100%;
  width: 100%;
  object-fit: contain;
  overflow: hidden;
  transition: all .3s ease-in-out;

}
.sv-feature-product-box:hover img{
  overflow: hidden;

transform: scale(1.069);
}
.sv-feature-product-box:hover p{
  color: var(--brand-two)!important;
}
/* feature desc box */
.sv-feature-product-desc {
  display: flex;
  justify-content: space-around;
}

/* prev next btn */
.swiper-button-next,
.swiper-button-prev {
  color: var(--brand-three);
}

.swiper-button-prev {
  left: 0px;
}
.swiper-button-next {
  right: 0px!important;
}
/* view more section */
.sv-feature-product-more a{
  color: var(--brand-one);
}

/* new section */
/* user review section */
.sv-user-review {
  margin-top: 30px;
  padding: 30px 0;
  background: var(--brand-grey);
}

/* user reive title */
.sv-user-review-title h2 {
  color: #000;
  text-align: center;
  margin-bottom: 35px;
}

.sv-user-review-wrapper {
  margin: 0 -10px;
}

/* each box */
.sv-user-review-box {
  background: #fff;
  margin: 0 10px;
}

/* top section */

.sv-user-review-top {
  padding: 15px;
}

.sv-user-review-img {
  height: 80px;
  width: 80px;
}

.sv-user-review-img img {
  height: 100%;
  width: 100%;
  border-radius: 50%;
  object-fit: contain;
}

.sv-user-review-info {
  padding-left: 10px;
}

.sv-user-review-info .checked {
  color: var(--brand-one);
}

/* bototm section */
.sv-user-review-bottom p {
  padding: 15px;
}

/* new section */
/* white background */
.white-bg {
  height: 80px;
  background: #fff;
}

/* new section */
/* footer section */
.sv-footer {
  padding: 20px 0;
  background: linear-gradient(
    0deg
    , #e2e3e4 0%, #ffffff 100%);
}

/* button section */

.checkout_btn1 a,.checkout_btn2 a {
  border-radius: 25px;
  border: none;
  padding: 8px 25px;
  margin: 0 10px;
  color: #fff;
  cursor: pointer;
}

.checkout_btn1 a:first-child{
  background: var(--brand-purple);
}


.coupon_btn input[type=submit]{
  border-radius: 0 20px 20px 0;
  border: none;
  padding: 5px 25px;
  color: #fff;
  cursor: pointer;
  margin-left: -1px;
  background: var(--brand-purple);

}
.coupon_btn input[type=text]{
  border-radius: 20px 0 0 20px;
  border: 2px solid var(--brand-purple);
  padding: 5px 25px;

}
.coupon_btn input[type=text]::placeholder{
  font-size: .8rem;

}


.checkout_btn2 a:last-child {
  background: var(--brand-two);
}


.sv-footer-top-left {
  flex: 0 0 auto;
  height: 150px;
  width: 150px;
}

.sv-footer-top-left img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

.sv-footer-top-right p {
  padding-left: 8px;
  color:#000;
}

/* footer bottom  */
.sv-footer-bottom {
  display: flex;
  flex-wrap: wrap;
}

.sv-footer-bottom-box {
  margin-top: 35px;
  flex: 1;
}

.sv-footer-bottom-title h3 {
  color: #000;
  font-size: 18px;
  margin-bottom: 15px;
}

.footer-contact ul li {
  display: flex;
  align-items: center;
  padding: 5px 0;
  color: #000;
}

.sv-footer-bottom-desc ul li{
  margin: 1rem 0;

}
.sv-footer-bottom-desc ul li span {
  padding-left: 10px;
  word-break: break-all;
}

.sv-footer-bottom-desc ul li a {
  color: #000;
}

.sv-footer-subscribe {
  display: flex;
  position: relative;
}

.sv-footer-subscribe input[type="submit"] {
  position: absolute;
  border: none;
  top: 0;
  right: 0px;
  background: var(--brand-two);
  color: #fff;
  padding: 7px 14px;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  outline: none;
}

.sv-footer-subscribe-email {
  width: 100%;
}

.sv-footer-subscribe-email input {
  width: 100%;
  border: 1px solid var(--brand-two);
  background: var(--brand-light-grey);
  font-size: 14px;
  padding: 8px 0 8px 15px;
  border-radius: 25px;
  outline: none;
}

/* search box  */


input[type=search] {
	background:url(https://static.tumblr.com/ftv85bp/MIXmud4tx/search-icon.png) no-repeat 9px center;
	width: 90px;
	-webkit-border-radius: 10em;
	-moz-border-radius: 10em;
	border-radius: 10em;
	-webkit-transition: all .5s;
	-moz-transition: all .5s;
	transition: all .5s;
  border: none;
  filter: brightness(0) invert(1);
  color: transparent;
  -webkit-appearance: textfield;
	-webkit-box-sizing: content-box;
	font-family: inherit;
	font-size: 100%;
border-radius: 0!important;
outline: none;


}





/* Demo 2 */
#demo-2 input[type=search] {
	width: 15px;
	padding-left: 10px;
	color: transparent;
	cursor: pointer;
}
#demo-2 input[type=search] {
	color: #000;
}
#demo-2 input[type=search]:focus {
	width: 200px;
	padding-left: 32px;
	cursor: auto;
border-bottom: 2px solid #fff;

}

/* footer mid section */


.sv-footer-social-link {
  display: flex;
}

.sv-footer-social-link-right {
  padding-left: 25px;
}

.sv-footer-social-link-right ul li {
  display: inline-block;
  padding: 0 10px;
}
.sv-footer-social-link-right ul li a{
color: rgb(75, 74, 74);
}
.sv-footer-social-link-right ul li .fab {
}

/* footer bootom */
.sv-footer-copyright {
  padding: 20px 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 768px) {
  .sv-navbar-right {
    display: none !important;
  }

  .mini-nav-hamburger {
    display: inline-block;
  }

  /* mini navbar */
  .sv-mini-navbar-menu-left {
    margin-top: 30px;
    display: none;
  }

  /* caresoul */
  .sv-caresoul-text h2 {
    font-size: 50px;
  }

  /* top feature */

  .sv-why-work-desc {
    display: block !important;
  }

  .sv-top-feature-wrapper {
    display: block !important;
  }

  .sv-why-work-box {
    border: none;
  }

  /* what we do */
  .sv-what-we-do-box {
    flex: 0 0 auto;
    width: 50%;
  }

  .sv-user-review-wrapper {
    display: block !important;
  }

  .sv-user-review-box {
    margin-bottom: 10px;
  }

  .sv-footer-top {
    display: block;
  }

  .sv-footer-bottom {
    display: block;
  }
}

/* store page  */
.filter h2{
  font-size: 1.5rem;
  font-weight: 700;
  text-align: center;
  padding: .7rem 0;
}
.filter_data{
  border-bottom: 1px solid gray;
}
.filter_data {
  padding: 1rem .5rem;
}
.filter_data p{
  font-size: 1rem;
  font-weight: 500;
}
.ui-state-default,
.ui-widget-content .ui-state-default,
.ui-widget-header .ui-state-default {
    max-height: 15px!important;
    max-width: 15px!important;
}
@media screen and (max-width: 576px) {
  /* caresoul */
 
  /* what we do */
  .sv-what-we-do-box {
    width: 100%;
  }

  /* start repair */
  .sv-start-repair-box {
    width: 100%;
  }
  .sv-mini-navbar{
    padding: 0!important;
  }
  .sv-what-we-do-desc{
    display: block!important;
  }
  .sv-navbar-left{
    text-align: center;
  }
  .sv-top-feature{
    display: none;
  }
  #demo-2 input[type=search]:focus {
    width: 140px;
    padding-left: 32px;
    cursor: auto;
  border-bottom: 2px solid #fff;
  
  }
  .sv-caresoul-btn button{
    padding-top: 5px;
    padding-bottom: 5px;
    

  }
  .sv-caresoul-btn button:first-child{
    margin-right: 3px;
  }
  .sv-what-we-do-img img{
    height: 135%;
  }
  .sv-start-repair-box{
    margin: 10px;
  }
  .sv-why-work-box-img{
    height: 200px;
  }
  .sv-why-work-box-img img{
    height: 135%;
  }
}

